* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #b2bec3;
}
.navbar {
  background-color: rgba(34, 47, 62, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  box-shadow: 0 2px 8px rgba(208, 229, 190, 0);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.logo {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f0f0f0;
  font-weight: 500;
  transition: color 0.3s;
}

.hero {
  height: 90vh;
  background: url('photo-1552566626-52f8b828add9.jpeg') no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  padding-top: 80px;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 18px;
}

.menu {
  padding: 80px 10%;
  text-align: center;
}

.menu h2 {
  font-size: 32px;
  color: #fffffffd;
  margin-bottom: 40px;
}
.menu-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.menu-item {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  width: 300px;
}
.menu-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.menu-item h3 {
  color: #333;
  margin: 15px 0 5px;
}
.menu-item p {
  color: #555;
  padding: 0 20px 20px;
  font-size: 15px;
}
